@font-face {
  font-family: "Open Sans Semibold";
  src: url(../fonts/open-sans/OpenSans-Semibold.ttf);
}
@font-face {
  font-family: "Quattrocento Sans Bold";
  src: url(../fonts/quattrocento-sans/QuattrocentoSans-Bold.otf)
}
@font-face {
  font-family: "ChunkFiveExtraBold";
  src: url(../fonts/ChunkFive/ChunkFiveExtraBold/ChunkFiveExtraBold.ttf);
}


